<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linwei.cams.module.publis">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".ui.publis.PublisActivity"/>
    </application>

</manifest>