<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linwei.cams.module.publis">

    <application
        android:name="com.linwei.cams.component.common.base.CommonBaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/publis_ic_launcher"
        android:label="@string/publis_app_name"
        android:supportsRtl="true"
        android:theme="@style/PublisModuleAppTheme">
        <activity
            android:name=".ui.publis.PublisActivity"
            android:exported="true"
            android:label="@string/publis_module_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>